h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

nav, p, footer, form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

h1 {
	background-color: #ffffff;
	border-color: #cccccc;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

#main-bio, #contact-info, #bio-image {
	float: left;
}

#main-bio {
	width: 70%;
}

#contact-info {
	width: 30%;
}

nav {
	text-align: right;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.header {
	width: 1024;
	margin: 0 auto;
}