h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1.5px;
	border-left-width: 0px;
	border-color: #beb8b4;
}

nav, p, footer, form, a {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

li {
	padding: 7px;
}

#portfolio {
	border-style: solid;
	border-color: #cccccc;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 1px;
	border-left-width: 1px;
}

h1 {
	background-color: #4aaaa5;
	border-color: #cccccc;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin: 0;
	padding: 15px;
}

body {
	margin: 0;
	padding: 0;
	background: url('../images/concrete_seamless.png');
}

#firstimage {
	width: 290px;
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

#secondimage {
	width: 290px;
	float: left;
}

#thirdimage {
	width: 290px;
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

#fourthimage {
	width: 290px;
	float: left;
}

#fifthimage {
	width: 290px;
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}


.projectlist {
	position: relative;
}

.caption1 {
	position: absolute;
	top: 140px;
	background: #4aaaa5;
	color: white;
	font-size: 30px;
	padding: 5px 48px;
}

.caption2 {
	position: absolute;
	top: 140px;
	left: 320px;
	background: #4aaaa5;
	color: white;
	font-size: 30px;
	padding: 5px 48px;
}

.caption3 {
	position: absolute;
	top: 385px;
	background: #4aaaa5;
	color: white;
	font-size: 30px;
	padding: 5px 48px;
}

.caption4 {
	position: absolute;
	top: 385px;
	left: 320px;
	background: #4aaaa5;
	color: white;
	font-size: 30px;
	padding: 5px 48px;
}

.caption5 {
	position: absolute;
	top: 630px;
	background: #4aaaa5;
	color: white;
	font-size: 30px;
	padding: 5px 48px;
}

header {
	height: 67px;
	background-color: white;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1.5px;
	border-left-width: 0px;
	border-color: #beb8b4;
	width: 100%;
}

.name-nav {
	width: 1024px;
	margin: 0 auto;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

#main-bio, #contact-info, #bio-image {
	float: left;
}

#main-bio {
	width: 610px;
	margin-right: 40px;
	margin-top: 40px;
	background-color: white;
	padding: 20px;
	border: 1.5px solid #beb8b4;
}

#contact-info {
	width: 230px;
	background-color: white;
	margin-top: 40px;
	padding: 20px;
	border: 1.5px solid #beb8b4;
}

h1, nav {
	display: inline-block;
}

nav {
	position: relative;
	left: 327px;
}

ul {
	list-style-type: none;
	display: inline;
}

a {
	text-decoration: none;
}

ul li {
	display: inline;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #666666;
	padding: 20px;
	border-style: solid;
	border-color: #4aaaa5;
	border-top-width: 15px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px; 
}

#bio-image {
	margin-right: 10px;
}

.bio-text {
	margin-right: 10px;
}

#input {
	margin: 5px;
}